<?xml version="1.0"?>
<launch>
  <arg name="sim" default="0"/>
  <arg name="lidar_frame" default="scan"/>
  <group ns="tb3">
    <node name="republish_imu" pkg="waffle_tx2_tf2" type="republish_imu_node"/>
    <include unless="$(arg sim)"
      file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch">
      <arg name="set_lidar_frame_id" value="$(arg lidar_frame)"/>
    </include>
  </group>
  <include if="$(arg sim)"
    file="$(find waffle_tx2_tf2)/launch/tb3_world.launch"/>
</launch>
