<?xml version="1.0"?>
<launch>
  <!-- Launch ZED Wrapper Node -->
  <group ns="zed">
    <include file="$(find zed_wrapper)/launch/zed_camera.launch">
      <!--General parameters -->
        <!-- Description: Type of Sterolabs camera
            Values: zed or zedm-->
        <arg name="camera_model" value="zed"/>

        <!-- Description: Flip the camera data if it is mounted upsidedown
            Values: true, false-->
        <arg name="camera_flip" value="true"/>


        <!-- Description: Select a ZED camera by its ID. IDs are assigned by
             Ubuntu. Useful when multiple cameras are connected. ID is ignored if an
             SVO path is specified.
            Values: int-->
        <arg name="zed_id" value="0"/>


        <!-- Description:Select a ZED camera by its Serial Number
           Values: int-->
        <arg name="serial_number" value="0"/>
        <!-- Description: Select ZED camera resolution
           Values: 0: HD2K, 1: HD1080, 2: HD720, 3: VGA-->
        <arg name="resolution" value="3"/>
        <!-- Description: Set ZED camera video framerate
           Values: int-->
        <arg name="frame_rate" value="15"/>
        <!-- Description: Select a GPU device for depth computation
           Values: int, default -1 (best device found)-->
        <arg name="gpu_id" value="-1"/>
        <!-- Description: Frame_id of the frame that indicates the reference
             base of the robot
           Values: string, value=base_link-->
        <arg name="base_frame" value="base_link"/>
        <!-- Description: Frame_id of the center of the camera
           Values: string, value=zed_camera_center-->
        <arg name="camera_frame" value="zed_camera_center"/>
        <!-- Description: Frame_id of the left camera
           Values: string, value=zed_left_camera_frame-->
        <arg name="left_camera_frame" value="zed_left_camera_frame"/>
        <!-- Description: Frame_id of the optics of the left camera
           Values: string, value=zed_left_camera_optical_frame-->
        <arg name="left_camera_optical_frame" value="zed_left_camera_optical_frame"/>
        <!-- Description: Frame_id of the right camera
           Values: string, value=zed_right_camera_frame-->
        <arg name="right_camera_frame" value="zed_right_camera_frame"/>
        <!-- Description: Frame_id of the optics of the right camera
           Values: string, value=zed_right_camera_optical_frame-->
        <arg name="right_camera_optical_frame" value="zed_right_camera_optical_frame"/>
        <!-- Description: Enable/disable the verbosity of the SDK
           Values:true, false -->
        <arg name="verbose" value="true"/>
        <!-- Description: Set SVO compression mode
           Values: 0: RAW (no compression), 1: LOSSLESS (PNG/ZSTD),
           2: LOSSY (JPEG), 3: AVCHD (H264 SDK v2.7), 4: HEVC (H265 SDK v2.7) -->
        <arg name="svo_compression" value="0"/>
    </include>
  </group>
</launch>
